<link rel="stylesheet" href="/css/footer.css">
<footer>
  <a href="https://facebook.com/" target="_blank">
    <img src="/images/facebook.svg" alt="facebook">
  </a>
  <p class="subtitle-2">
    INSTITUT BIEN-ÊTRE GRIOTTINES® | © Tous droits réservés
  </p>
</footer>
</body>
</html>