<form method="post" action="/send">
  <input type="text" name="firstname" id="" placeholder="">
  <input type="text" name="lastname" id="" placeholder="">
  <input type="email" name="email" id="">
  <input type="text" name="message" id="" placeholder="">
  <input type="submit" value="Send Email" />
</form>  