<link rel="stylesheet" href="/css/nav.css">
<script src="/js/nav.js" defer></script>
<nav>
  <a class="brand">
    <div>
      <h2>I</h2>
      <h1 class="subtitle">
        Institut Bien-Être<br>Griottines®
      </h1>
    </div>
  </a>
  <div class="burger">
    <span></span>
  </div>
  <ul>
    <li class="active"><a href="#">Accueil</a></li>
    <li><a href="#about">A propos</a></li>
    <li><a href="#care">Soins</a></li>
    <li><a href="#products">Produits</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>