<link rel="stylesheet" href="/css/about.css">
<section id="about">
  <div>
    <h2 class="title">A propos</h2>
    <p class="subtitle">
      Laetitia vous accueille dans son Institut de beauté.
      <br><br>
      Elle vous propose des soins visage, soins du corps, (gommages, modelages, réflexologie, shiatsu) soins du dos,
      soins des jambes, soins des mains et des pieds, maquillage, épilations.
      <br><br>
      Esthéticienne professionnelle, soucieuse du respect de la nature et du terroir, elle utilise des produits naturels
      , "EvadéSens" made in Alsace 100% naturelles textures et senteurs qui font voyager. Venez découvrir la gamme dans
      mon espace bien être Griottines®
    </p>
  </div>
  <div>
    <img src="/images/3.jpg" alt="bed">
  </div>
</section>