<link rel="stylesheet" href="/css/home.css">
<script src="/js/home.js" defer></script>
<div class="loader">
  <h2 class="title-2">Chargement...</h2>
</div>
<section id="home">
  <div>
    <h2 class="title">Bienvenue sur le site de Laetitia</h2>
    <p class="subtitle">Laetitia vous accueille dans son Institut de beauté et à domicile.</p>
    <a href="#about" class="button">Découvrir</a>
  </div>
  <div>
    <img src="/images/2.jpg" alt="zen">
  </div>
</section>

